<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui3.css">
    <script src="../../static/js/jq.js"></script>
    <script src="../../static/layui/layui.js"></script>
</head>
<body>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="huifu">查看回复</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
    </script>
    <table id="demo" lay-filter="test"></table>
</body>
<script type="text/javascript" th:inline="none">
    layui.use(function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo' //对应表格的id
            //,height: 312
            , toolbar: '#toolbarDemo'
            , url: 'getAllComment-houtai' //数据接口
            ,type:'get'
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'commentsId',type: 'checkbox', fixed: 'left'}
                ,{field: 'commentsId', title: '评论id', width: 90, sort: true}
                , {field: 'userId', title: '用户id', width: 130}
                , {field: 'content', title: '内容', width: 180}
                , {field: 'time', title: '时间', width: 150, sort: true}
                , {field: 'like', title: '点赞量', width: 100, sort: true}
                , {fixed: 'right', width: 180, align: 'center', toolbar: '#barDemo'}

            ]]
        });

        // 触发事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data=checkStatus.data;
            switch(obj.event){
                case 'delete':
                    if(data.length == 0){
                        layer.msg('请选择一行');
                    } else if(data.length >= 1){
                        var xxxx="";
                        $.each(data,function (i,item){
                            xxxx=xxxx+","+item.commentsId;
                        });

                        //询问框

                        layer.confirm('确定要删除选中的评论？', {
                            btn: ['确定','取消'] //按钮
                        }, function(){
                            $.ajax({
                                url:"comment-batchDelete-houtai",
                                type:"delete",
                                data:{"commentId":xxxx},
                                dataType:"json",
                                success:function (res){
                                    layer.closeAll();
                                    if(res.code==200){
                                        layer.msg("删除了"+res.count+"条评论");
                                        table.reload("demo");
                                    }else {
                                        layer.msg("删除失败");
                                    }
                                }
                            });
                        }, function(){

                        });
                    }
                    break;
            };
        });

        // 监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'huifu'){
                window.location.href="list-huifu-admin?commentId="+data.commentsId;
            }else if(layEvent === 'delete'){
                $.ajax({
                    url:"comment-delete-houtai",
                    type:"delete",
                    dataType: "json",
                    data:{"commentId":data.commentsId},
                    success:function (res){
                        if(res.code==200){
                            layer.msg("删除成功");
                            table.reload("demo");
                        }else {
                            layer.msg("删除失败");
                        }
                    }
                });
            }

        });




    });
</script>
</html>