<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title></title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../static/assets/plugins/icomoon/style.css" rel="stylesheet">
        <link href="../static/assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="../static/assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>
      
        <!-- Theme Styles -->
        <link href="../static/assets/css/ecaps.min.css" rel="stylesheet">
        <link href="../static/assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .login-page {
                width: 100%;
                height: 100%;
                background: url("../static/assets/images/banner-3.png") no-repeat center center fixed;
                background-size: cover;
                padding: 0px;
            }
        </style>
    </head>
    <body>
        
        <!-- Page Container -->
        <div class="page-container">
                <!-- Page Inner -->
                <div class="page-inner login-page">
                    <div id="main-wrapper" class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 login-box">
                                <h4 class="login-title">创建账户
                                    <div style="font-size: 8px;margin-top: 5px">已有账户？ <a href="/toLoginPage" style="color: #0070e0">登录</a></div>

                                </h4>

                                <form id="register" method="post">
                                    <div class="form-group">
                                        <label for="phoneOremail"> 输入：Email/手机号</label>
                                        <input name="phoneOremail" class="form-control" id="phoneOremail"  placeholder="用于登录和找回密码">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">设置密码</label>
                                        <input name="password" type="password" class="form-control" id="password" placeholder="请设置登录密码">
                                    </div>

                                    <div class="form-group">
                                        <input id="VerifyCode" placeholder="请输入验证码" type="text" class="form-control" style="width: 120px;float: left">
                                        <img id="identify-img" src="/User/get_VerifyCode"><br><br>
<!--                                        <a class="btn btn-primary" style="float: right">输入验证码</a>-->
                                    </div>
                                    <a id="Rg" style="width: 100%" class="btn btn-primary">注册</a>
                                </form>
                            </div>
                        </div>
                    </div>
            </div><!-- /Page Content -->
        </div><!-- /Page Container -->
        
        
        <!-- Javascripts -->
        <script src="../static/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../static/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="../static/assets/plugins/switchery/switchery.min.js"></script>
        <script src="../static/assets/js/ecaps.min.js"></script>
    <script>

        $("#identify-img").on('click',function (){
            // 点击验证码那个图片的时候，我们输入的验证码那个框就会清空
            $('#identify-input').val('')
            //而且我们点击验证码的时候，希望它可以改变验证码内容，其实是通过发送新请求来改变验证码内容
            $('#identify-img').attr('src','/User/get_VerifyCode?'+Math.random())
        })


        $("#Rg").click(function () {
            let val = $("#VerifyCode").val();
            if (val!==''){
                $.ajax({

                    url:'/User/user_Register',
                    method:'post',
                    // data:$("#register").serialise(),

                    data:{'phoneOremail':$("#phoneOremail").val(),'password':$("#password").val(),'VerifyCode':$("#VerifyCode").val()},
                    dataType:'json',
                    success:function (res) {
                        if (res.code==="200"){//注册Ok
                          alert(res.message)

                        }else {
                            $("#identify-img").click();
                            alert(res.message)
                        }
                    }
                })

            }else {
                alert("请输入验证码")
            }

        })
    </script>




    </body>
</html>