<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abs.mapper.AbCultureVedioMapper">
    <resultMap id="AbCultureVedio" type="com.abs.pojo.AbCultureVedio">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="timelen" column="timelen"/>
        <result property="url" column="url"/>
        <result property="img" column="img"/>
    </resultMap>

    <select id="getAllAbCulVedioList"  resultMap="AbCultureVedio">
        select *
        from ab_culture_video
    </select>
<!--    <select id="AbHerigateInfoById"  resultMap="AbCultureHeritage">-->
<!--        select *-->
<!--        from ab_culture_heritage-->
<!--        where h_id=#{h_id}-->
<!--    </select>-->


</mapper>