<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abs.mapper.DiquMapper">
    <select id="queryAllDiqu" resultType="Diqu">
        select * from ab_remen_diqu
    </select>

    <select id="queryOneDiquByName" resultType="Diqu">
        select * from ab_remen_diqu where name like #{name}
    </select>

    <select id="selectDiQuByPage" resultType="com.abs.pojo.remen_diqu">
        select id, name,introduction, time, renjun, hot, introduction2
        from ab_remen_diqu limit #{begin},#{pageSize};
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from ab_remen_diqu
    </select>
    <select id="selectDiQuById" parameterType="integer" resultType="com.abs.pojo.remen_diqu">
        select *
        from ab_remen_diqu where id = #{id};
    </select>
    <select id="selectDiQuByCondition" parameterType="string" resultType="com.abs.pojo.remen_diqu">
        select id, name,introduction, time, renjun, hot, introduction2
        from ab_remen_diqu where name like #{condition}
    </select>
    <select id="getCountByCondition" parameterType="string" resultType="java.lang.Integer">
        select count(*) from ab_remen_diqu where name like #{condition}
    </select>

    <delete id="delDiQu" parameterType="integer">
        delete from ab_remen_diqu where id=#{id}
    </delete>

    <update id="updateDiQu" parameterType="com.abs.pojo.remen_diqu">
        update ab_remen_diqu set name = #{name}, introduction  = #{introduction}, time  = #{time}, renjun = #{renjun}, hot = #{hot}, introduction2 = #{introduction2} where id = #{id}
    </update>

    <insert id="insertDiQu" parameterType="com.abs.pojo.remen_diqu">
        insert into ab_remen_diqu(id,name, introduction, time, renjun, hot, introduction2) values (#{id},#{name},#{introduction},#{time},#{renjun},#{hot},#{introduction2})
    </insert>
</mapper>