<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abs.mapper.JingquMapper">
    <resultMap id="JingQuMap" type="AbLuyouyindaoJingqu">
        <id column="jq_id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="address" property="address"></result>
        <result column="tv" property="tv"></result>
        <result column="img" property="img"></result>
        <result column="introduction" property="introduction"></result>
        <result column="phone" property="phone"></result>
        <result column="type" property="type"></result>
<!--        Jingqu内部的住宿list信息-->
        <collection property="abZhusuZhusuList" ofType="AbZhusuZhusu">
            <id column="zs_id" property="zhusuId"></id>
            <result column="zs_name" property="zs_name"></result>
            <result column="zs_img" property="zs_img"></result>
            <result column="zs_tv" property="zs_tv"></result>
            <result column="zs_hot" property="zs_hot"></result>
            <result column="zs_introduction" property="zs_introduction"></result>
            <result column="zs_way" property="zs_way"></result>
            <result column="zs_price" property="zs_price"></result>
            <result column="zs_address" property="zs_address"></result>
            <result column="zs_type" property="zs_type"></result>
            <result column="zs_phone" property="zs_phone"></result>
        </collection>
    </resultMap>

    <select id="seleceZhuShuListByJqAllID" resultMap="JingQuMap">
        SELECT
            *
        FROM
            ab_luyouyindao_jingqu jq,
            ab_zhusu_jingqu_info jqinfo,
            ab_zhusu_zhusu zs
        WHERE jq.id = jqinfo.jq_id
          AND jqinfo.zs_id = zs.zhusu_id
    </select>

</mapper>
