<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abs.mapper.LuYouTaoLunMapper">
    <resultMap id="HuaTiMap" type="com.abs.pojo.AbLuyoutaolunHuati">
        <id column="topic_id" property="topicId"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="introduction" property="introduction"/>
        <result column="time" property="time"/>
        <result column="type" property="type"/>
        <result column="address" property="address"/>
        <result column="read" property="read"/>
    </resultMap>

    <resultMap id="CommentMap" type="com.abs.pojo.AbLuyoutaolunComment">
        <id column="comments_id" property="commentsId"/>
        <result column="topic_id" property="topicId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <resultMap id="HuiFuMap" type="com.abs.pojo.AbLuyoutaolunHuifu">
        <id column="response_id" property="responseId"/>
        <result column="comments_id" property="commentsId"/>
        <result column="topic_id" property="topicId"/>
    </resultMap>
    <resultMap id="User" type="com.abs.pojo.AbUser">
        <id column="user_id" property="userId"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_role" property="userRole"/>
        <result column="user_gender" property="userGender"/>
        <result column="user_instruction" property="userInstruction"/>
        <result column="user_image" property="userImage"/>
    </resultMap>

    <insert id="addHuati" parameterType="com.abs.pojo.AbLuyoutaolunHuati">
        insert into ab_luyoutaolun_huati (user_id, title, introduction, time, type, address)
        values (#{userId},#{title},#{introduction},#{time},#{type},#{address});
    </insert>

    <insert id="addComment" parameterType="com.abs.pojo.AbLuyoutaolunComment">
        insert into ab_luyoutaolun_comment (topic_id, user_id, content, `time`)
        values (#{topicId},#{userId},#{content},#{time});
    </insert>

    <insert id="addCommentHuiFu" parameterType="com.abs.pojo.AbLuyoutaolunHuifu">
        insert into ab_luyoutaolun_huifu ( comments_id, user_id, content, `time`, topic_id)
        values (#{commentsId},#{userId},#{content},#{time},#{topicId});
    </insert>

    <!--    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <insert id="addCommentLike" parameterType="com.abs.pojo.AbLuyoutaolunCommentLike">
        insert into ab_luyoutaolun_comment_like(user_id,comment_id) values(#{userId},#{commentId})
    </insert>
    <select id="queryCommentlike" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_comment_like where comment_id=#{commentId}
    </select>
    <select id="queryCommentlike1" parameterType="com.abs.pojo.AbLuyoutaolunCommentLike" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_comment_like where comment_id=#{commentId} and user_id=#{userId}
    </select>
    <delete id="deleteCommentlike" parameterType="com.abs.pojo.AbLuyoutaolunCommentLike">
        delete
        from ab_luyoutaolun_comment_like
        where comment_id=#{commentId} and user_id=#{userId};
    </delete>


    <!--    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <insert id="addHuiFuLike" parameterType="com.abs.pojo.AbLuyoutaolunHuifuLike">
        insert into ab_luyoutaolun_huifu_like(user_id,response_id) values(#{userId},#{responseId})
    </insert>
    <select id="queryResponselike" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_huifu_like where response_id=#{responseId}
    </select>
    <select id="queryResponselike1" parameterType="com.abs.pojo.AbLuyoutaolunHuifuLike" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_huifu_like where response_id=#{responseId} and user_id=#{userId}
    </select>
    <delete id="deleteResponselike" parameterType="com.abs.pojo.AbLuyoutaolunHuifuLike">
        delete
        from ab_luyoutaolun_huifu_like
        where response_id=#{responseId} and user_id=#{userId};
    </delete>


    <insert id="addHuatiRead" parameterType="integer">
        update ab_luyoutaolun_huati
        set `read` = `read`+ 1
        where topic_id = #{id};
    </insert>

    <!--    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <insert id="addHuaTiLike" parameterType="com.abs.pojo.AbLuyoutaolunHuatiLike">
        insert into ab_luyoutaolun_huati_like(user_id,topic_id) values(#{userId},#{topicId})
    </insert>
    <select id="queryHuaTilike" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_huati_like where topic_id=#{topicId}
    </select>
    <select id="queryHuaTilike1" parameterType="com.abs.pojo.AbLuyoutaolunHuatiLike" resultType="java.lang.Integer">
        select count(*) from ab_luyoutaolun_huati_like where topic_id=#{topicId} and user_id=#{userId}
    </select>
    <delete id="deleteHuaTilike" parameterType="com.abs.pojo.AbLuyoutaolunHuatiLike">
        delete
        from ab_luyoutaolun_huati_like
        where topic_id=#{topicId} and user_id=#{userId};
    </delete>




    <select id="selectHuaTis" resultMap="HuaTiMap">
        select *
        from ab_luyoutaolun_huati order by `time` desc ;
    </select>

<!--    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <select id="selectHuaTisFromUser" parameterType="java.lang.String" resultMap="User">
        select *
        from ab_user where user_id=#{id}
    </select>

    <select id="selectById" parameterType="integer" resultMap="HuaTiMap">
        select *
        from ab_luyoutaolun_huati where topic_id = #{id};
    </select>

    <select id="selectByTitle" parameterType="string" resultMap="HuaTiMap">
        select *
        from ab_luyoutaolun_huati where title like '%${title}%';

    </select>

    <select id="selectCommentByHuatiId" parameterType="integer" resultMap="CommentMap">
        select *
        from ab_luyoutaolun_comment where topic_id = #{id};
    </select>

    <select id="selectHuiFuByCommentId" resultMap="HuiFuMap">
        select *
        from ab_luyoutaolun_huifu where comments_id = #{id};
    </select>

<!--    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <select id="selectCommentByCommentId" resultMap="CommentMap">
        select *
        from ab_luyoutaolun_comment where comments_id = #{id};
    </select>

    <select id="selectHuifuByResponseId" resultMap="HuiFuMap">
        select *
        from ab_luyoutaolun_huifu where response_id = #{id};
    </select>

</mapper>
